<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>底部版权</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme <-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <style >
  body{
    margin: 0;
    padding: 0;
  }
    .cle_qz ul{
        list-style:none;
        padding:0 8px;
      }
  .cle_qz  a{
        text-decoration: none;
        color: #000;
        font-size: 14px;

      }
    .cle_qz a:hover{
        text-decoration: none;
      }

    .foot_qz{
      width: 100%;
      overflow-x: hidden;
      background: rgb(70, 160, 212);
      position: relative;
      font-size: 12px;
    }
    .banquan{
      position: relative;
      padding-top: 10px;
      text-align: center;
    }
    .foot_qz>div ul li{
      float: left;
    }

  .foot_qz>div ul li a:hover{
      cursor: pointer;
      color: rgb(252, 190, 52);

  }
  .heiden_qz{
    display: block;
        }


    .cg{
      padding:14px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .foot_qz .cg>div ul li{
      float:left;
      max-width:56px;
      margin-left:3px;
      width:100%;
      display: block;
      padding:0;
      text-align: center;
    }
    @media all and (orientation: portrait){
      .foot_qz .cg>div ul li{
        width:56px;
        margin-left: 15px;
        /*max-width: 50px;*/
      }
      .foot_qz>div ul li a:hover{
          text-decoration: none;
      }
      .cg{
        padding-left: 30px;
        padding-right: 30px;
      }
    .heiden_qz{
      display: none !important;
          }
          .cl_qz{
            /*margin-left: 30px;*/
            margin: 0 auto !important;
          }
    }

  </style>
  <body>
    <div style="width:300px;height:500px;"></div>
    <div class="foot_qz ">

      <div class="container cg">
        <div class="row">

          <ul class="clearfix cle_qz" >
            <li><a href="#">关于思习</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">联系我们</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">企业合作</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">报名咨询</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">招贤纳士</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">学习资料</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">学员论坛</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">隐私声明</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">网站地图</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">站长统计</a></li>

          </ul>
        </div>
        <p class="banquan">©2017 思习版权所有</p>
      </div>
    </div>
  </body>
</html>
