
    <div class="foot_qz ">

      <div class="container cg">
        <div class="row">

          <ul class="clearfix cle_qz" >
            <li><a href="#">关于思习</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">联系我们</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">企业合作</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">报名咨询</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">招贤纳士</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">学习资料</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">学员论坛</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">隐私声明</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">网站地图</a></li>
            <li class="heiden_qz">|</li>
            <li><a href="#">站长统计</a></li>

          </ul>
        </div>
        <p class="banquan">©2017 思习版权所有</p>
      </div>
    </div>
  </body>
</html>
