<%- include head %>
<div id="root"></div>
<script type="text/javascript" src="/js/vender.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<div class="one" id="one"></div>
<div class="two" id="two"></div>
<div class="three" id="three"></div>
<div class="four" id="four"></div>
<%- include foot_qz %>
