<div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form class="" action="/login_qz" method="post">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Login name" name="user_id" />
            </br>
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Password" name="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-success btn-md">login <i class="fa fa-sign-in"></i></button>
                <a href="/register"  class="btn btn-default btn-md">register </a>
            </span>
            </div>
            </div>
            </form>
        </div>
    </div>
