<!DOCTYPE html>

    <%- include head %>
    <style>
      #register{
        max-width: 450px;
        min-width: 300px;
        margin-top: -95px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        background: pink;
        padding: 20px;
        padding-left: 0px;
        border-radius: 30px;
        width: 90%;
      }
      .fl{
        height: 600px;
      }

      @media all  and (min-height:748px) {
        .foot_qz{
          position: absolute;
          bottom:0 ;
        }
      }
      @media all and (max-width : 767px) {
        #register{
          padding: 20px;
        }
      }
      @media all and (max-height : 440px) {
        #register{
          top: 90%;

        }
      }

    </style>
    <div id="root"></div>
    <div class="fl">
      <div id="register"></div>
    </div>
    <script type="text/javascript" src="/js/vender.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <%- include foot_qz %>
