body{
  margin: 0;
  padding: 0;
}
  .cle_qz ul{
      list-style:none;
      padding:0 8px;
    }
.cle_qz  a{
      text-decoration: none;
      color: white;
      font-size: 14px;

    }
  .cle_qz a:hover{
      text-decoration: none;
    }

  .foot_qz{
    width: 100%;
    overflow-x: hidden;
    background: rgb(51,51,51);
    position: relative;
    font-size: 12px;
  }
  .banquan{
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: white;
  }
  .foot_qz>div ul li{
    float: left;
  }

.foot_qz>div ul li a:hover{
    cursor: pointer;
    color: rgb(252, 190, 52);

}
.heiden_qz{
  display: block!important;
  width:100%!important;
  max-width:43px!important;
  color: white!important;
}


.cg{
    padding:14px 0px;
  }
  .foot_qz .cg>div ul li{
    float:left;
    max-width:56px;
    margin-left:3px;
    width:100%;
    display: block;
    padding:0;
    text-align: center;
  }
  @media all and (orientation: portrait){
    .foot_qz .cg>div ul li{
      width:56px;
      margin-left: 15px;
      /*max-width: 50px;*/
    }
    .foot_qz>div ul li a:hover{
        text-decoration: none;
    }
    .cg{
      padding-left: 30px;
      padding-right: 30px;
    }
  .heiden_qz{
    display: none !important;
        }
        .cl_qz{
          /*margin-left: 30px;*/
          margin: 0 auto !important;
        }
  }
